unbind C-b
set -g prefix C-a
bind-key -r C-a send-prefix

set-option -g default-terminal "screen-256color"
set-option -g status-keys "emacs"
set -ga terminal-overrides ",*col*:Tc"
setw -g window-size smallest

foreground='#e2e2e3'
background='#2c2e34'
border="#b39df3"
indicator_highlighted='#fc5d7c'
contrast='#7f8490'
contrast_alt='#f39660'

{{ if (eq .chezmoi.os "linux") }}
indicator='#76cce0'
{{ end }}

{{ if (eq .chezmoi.os "darwin") }}
indicator='#9ed072'
{{ end }}

# Stolen from https://github.com/dracula/tmux
set-option -g status-left-length 100
set-option -g status-right-length 100
set-option -g clock-mode-style 24
set-option -g pane-active-border-style "fg=${border}"
set-option -g pane-border-style "fg=${foreground}"
set-option -g message-style "bg=${background},fg=${foreground}"
set-option -g status-style "bg=${background},fg=${foreground}"
set-window-option -g window-status-current-format "#[bg=${contrast}]#{?window_zoomed_flag,#[bg=${contrast_alt}],} #I #W "
set-window-option -g window-status-format "#[fg=${foreground}]#[bg=${background}] #I #W${flags}"
set-window-option -g window-status-activity-style "bold"
set-window-option -g window-status-bell-style "bold"
set-option -g status-left "#[bg=${indicator}]#{?client_prefix,#[bg=${indicator_highlighted}],}  "
set-option -g  status-right ""
set-option -ga status-right "#[fg=${foreground},bg=${contrast}] %a %d/%m %R ${timezone}"


bind-key r source-file ~/.tmux.conf \; display-message "~/.tmux.conf reloaded"

# makes vim recognize <esc> faster
set -s escape-time 0

# Smart pane switching with awareness of Vim splits.
# See: https://github.com/christoomey/vim-tmux-navigator
is_vim="ps -o state= -o comm= -t '#{pane_tty}' \
    | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|n?vim?x?)(diff)?$'"
bind-key -n C-h if-shell "$is_vim" "send-keys C-h"  "select-pane -L"
bind-key -n C-j if-shell "$is_vim" "send-keys C-j"  "select-pane -D"
bind-key -n C-k if-shell "$is_vim" "send-keys C-k"  "select-pane -U"
bind-key -n C-l if-shell "$is_vim" "send-keys C-l"  "select-pane -R"
bind-key -n 'C-\' if-shell "$is_vim" "send-keys 'C-\\'" "select-pane -l"
bind-key -T copy-mode-vi C-h select-pane -L
bind-key -T copy-mode-vi C-j select-pane -D
bind-key -T copy-mode-vi C-k select-pane -U
bind-key -T copy-mode-vi C-l select-pane -R
bind-key -T copy-mode-vi 'C-\' select-pane -l

set-option -g status-left-length 50


bind-key - split-window -v  -c '#{pane_current_path}'
bind-key '\' split-window -h  -c '#{pane_current_path}'

bind -n S-Left resize-pane -L 2
bind -n S-Right resize-pane -R 2
bind -n S-Down resize-pane -D 1
bind -n S-Up resize-pane -U 1

bind -n C-Left resize-pane -L 10
bind -n C-Right resize-pane -R 10
bind -n C-Down resize-pane -D 5
bind -n C-Up resize-pane -U 5

bind c new-window -c '#{pane_current_path}'

set-option -g base-index 1
set-option -g renumber-windows on

bind-key b break-pane -d

bind-key C-j choose-tree

# Use vim keybindings in copy mode
setw -g mode-keys vi

# # Setup 'v' to begin selection as in Vim
bind-key -Tcopy-mode-vi 'v' send -X begin-selection
bind-key -Tcopy-mode-vi 'y' send -X copy-pipe-and-cancel "reattach-to-user-namespace pbcopy"

# # Update default binding of `Enter` to also use copy-pipe
unbind -Tcopy-mode-vi Enter
bind-key -Tcopy-mode-vi Enter send -X copy-pipe-and-cancel "reattach-to-user-namespace pbcopy"

bind C-j split-window -v "tmux list-sessions | sed -E 's/:.*$//' | grep -v \"^$(tmux display-message -p '#S')\$\" | fzf --reverse | xargs tmux switch-client -t"

# Prompted join-pane
bind-key j command-prompt -p "join pane from: "  "join-pane -h -s '%%'"

# Easily swap a pane (targeted by pane number) with the current pane
bind-key s display-panes\; command-prompt -p "pane #: "  "swap-pane -t '%%'"

# use fish
set -g default-command /usr/local/bin/fish
set -g default-shell /usr/local/bin/fish


###########################
# Plugins
##########################
# To install plugins:
#   1) Add plugin down here
#   2) Prefix + I to install plugin
# To update plugins:
#   1) Prefix + U
# To remove plugins:
#   1) Remove line down here
#   2) Prefix + ALT + U
# List of plugins
# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'

run -b '~/.tmux/plugins/tpm/tpm'
# vim: ft=tmux
