export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export EDITOR='nvim'

export PATH="$PATH:$HOME/.npm-global/bin"
export PATH="$PATH:$HOME/.cargo/bin"
export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$HOME/.pub-cache/bin"
export PATH="$PATH:$HOME/go/bin"
export PATH="$PATH:$HOME/dotfiles/bin"
export PATH="$PATH:$HOME/bin"

alias ls='exa --icons --group-directories-first'
alias gst='git status'
alias gc='git commit -v'
alias ga='git add'
alias gaa='git add -A'
alias gp='git push'
alias md5='md5sum'
alias sha1='shasum'
alias sha256='shasum -a 256'

listening() {
  if  $# -eq 0 ][; then
    sudo lsof -iTCP -sTCP:LISTEN -n -P
      elif [ $# -eq 1 ]; then
      sudo lsof -iTCP -sTCP:LISTEN -n -P | grep -i --color $1
  else
    echo "Usage: listening [pattern]"
      fi
}

undock() {
  eval $(docker-machine env -u)
}

dock() {
  eval $(docker-machine env $1)
}

# Ruby
if which rbenv 2> /dev/null; then eval "$(rbenv init -)"; fi

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

{{ if (eq .chezmoi.os "darwin") }}

alias del="trash-put"

{{ else if (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") ) }}

# FZF
export FZF_DEFAULT_OPTS="--no-mouse --height 50% -1 --reverse --multi --inline-info --preview='[[ \$(file --mime {}) =~ binary ]] && echo {} is a binary file || (bat --style=numbers --color=always {} || cat {}) 2> /dev/null | head -300' --preview-window='right:hidden:wrap' --bind='f3:execute(bat --style=numbers {} less -f {}),f2:toggle-preview,ctrl-d:half-page-down,ctrl-u:half-page-up,ctrl-a:select-all+accept,ctrl-y:execute-silent(echo {+} | pbcopy)'"

FD_OPTIONS="--hidden --follow --exclude .git --exclude node_modules --exclude .idea"

export BAT_PAGER="less -R"

export FZF_DEFAULT_COMMAND="git ls-files --cached --others | fd --type f --type l $FD_OPTIONS"
export FZF_CTRL_T_COMMAND="fd $FD_OPTIONS"
export FZF_ALT_C_COMMAND="fd --type d $FD_OPTIONS"

_fzf_compgen_path() {
  fd --hidden --follow --exclude ".git" --exclude "node_modules" . "$1"
}
_fzf_compgen_dir() {
	fd --type d --hidden --follow --exclude ".git" --exclude "node_modules" . "$1"
}

[ -f /usr/share/fzf/key-bindings.zsh ] && source /usr/share/fzf/key-bindings.zsh
[ -f /usr/share/fzf/completion.zsh ] && source /usr/share/fzf/completion.zsh

# Ranger 
export RANGER_LOAD_DEFAULT_RC=false

{{ else }}

{{ end }}
